* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee5c6;
}
header {
    background-color:#27273d;
    height: 4rem;
    margin-bottom: 20px;
}


header > nav, ul {
    height: 100%;
}

header > nav > ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;

    list-style: none;
}

header > nav > ul > li:nth-child(1) {
    grid-column-start: 2;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.games-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 25%;
    background-color: white;
    border: 2px solid #9b8564;
}

.single-game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;
}

li {
    list-style: none;
}

.games {
    display: inline;
    width: 10rem;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form > p {
    display: flex;
    flex-direction: column;
}
