* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee5c6;
}
header {
    background-color:#27273d;
    height: 4rem;
    margin-bottom: 20px;
}

/* Header Navigation */
header > nav, ul {
    height: 100%;
}

header > nav > ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;

    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    height: 100%;
    color: white;
}

.nav-link:hover {
    color: red;
}

header > nav > ul > li:nth-child(1) {
    grid-column-start: 2;
}

.login {
    grid-column-start: 4;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.background-dragon {
    position: fixed;
    color: red;
    height: 4rem;
}

/* List of games */
.games-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 25%;
    background-color: white;
    border: 2px solid #9b8564;
}

.single-game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;
}

li {
    list-style: none;
}

.fa-dragon {
    padding-right: 6px;
}

.games {
    display: inline;
    width: 10rem;
    margin: 10px;
}

/* Form fields */
form {
    display: flex;
    flex-direction: column;
}

form > p {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 10px;
}

form > button {
    margin-top: 10px;

    color: white;
    background-color:#27273d;
}

/* characters in the game */
.characters {
    display: grid;
    grid-template-columns: repeat(2, 1fr)

}

.single-character {
    grid-column-start: 1;
}
