{% extends 'base.html' %}

{% block content %}

<div class="games-container">
    <h1> {{ character_detail.name }}</h1>
    <hr>
    <div class="character-nav">
        {% if character_detail.user == user %}
            <a href="{% url 'update_character' character_detail.id%}">Edit Character</a>
        {% endif %}
        <a href="{% url 'show_game' character_detail.game_id%}">Back to Game</a>
    </div>
    <hr>

    <div class="character-detail">
        <p><strong>Player</strong>: {{ character_detail.user }} </p>
        <p><strong>Class</strong>: {{ character_detail.playersclass }} </p>
        <p class="span-two-columns"><strong>Summary</strong>: {{ character_detail.summary }} </p>
    </div>

    <div class="goals">
        <h2>Personal Goals</h2>
        <hr>
            <a href="{% url 'create_character_goal'%}">New Goal</a>
        <hr>
        <ul>
            {% for goal in character_detail.goals.all  %}
                <div class="goal-grid">
                    <li class="goal-list">{{ goal.name }}</li>
                    <a href="{% url 'update_character_goal' goal.id%}">Update</a>
                </div>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock content %}