{% extends 'base.html' %}

{% block content %}

<div>
    <h1> {{ character_detail.name }}</h1>

    {% if character_detail.user == user %}
        <a href="{% url 'update_character' character_detail.id%}">Edit Character</a>
    {% endif %}
        <a href="{% url 'show_game' character_detail.game_id%}">Back to Game</a>

    <div class="character-detail">
        <p>Player: {{ character_detail.user }} </p>
        <p>Class: {{ character_detail.playersclass }} </p>
        <p>Summary: {{ character_detail.summary }} </p>
    </div>

    <div class="goals">
        <h2>Personal Goals</h2>
        <a href="{% url 'create_character_goal'%}">New Goal</a>
        {% for goal in character_detail.goals.all  %}
            <p>{{ goal.name }}</p>
        {% endfor %}
    </div>

</div>

{% endblock content %}