{% extends 'base.html' %}

{% block content %}

<div>
    <h1>Characters for the game: {{ game_detail.name }}</h1>
    <a href="{% url 'delete_game' game_detail.id %}">Delete Game</a>
    <div>
        <a href="{% url 'create_character' %}">Create Character</a>
    </div>

    <div class="characters">
    {% for character in game_detail.characters.all %}
        <a href="{% url 'detail_character' character.id %}" class="single-character">{{ character.name }}</a>
        
    {% endfor %}
</div>

{% endblock content %}